.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:21pt;text-decoration:none;text-transform: none;color:#444444;letter-spacing:0em;}
.Small_text {font-size:16pt;}
.Heading_1 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:38pt;text-decoration:none;text-transform: none;color:#444444;letter-spacing:0em;}
.TITLE {font-size:70pt;color:#FFFFFF;}
.Heading_3 {font-size:27pt;}
.Heading_2 {font-size:30pt;}
