@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:regular&subset=latin);
@font-face {font-family: 'Verdana_xr';font-weight:normal;font-style:normal;src: url("XaraWDGeneratedHTMLfont1.woff") format("woff"), url("XaraWDEmbeddedHTMLfont1.eot?") format("embedded-opentype"), local('Verdana_xr');}
