/* Site settings */
body {background-color:#ffffff;margin:0px;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;text-rendering:optimizeLegibility;font-feature-settings:'kern', 'liga' 0, 'clig' 0, 'calt' 0;color:#000000;letter-spacing:0em;-webkit-print-color-adjust:exact;}
a {text-decoration:underline;}
a:link {color:inherit; cursor:pointer;}
a:visited {color:inherit;}
a:hover {color:inherit;}
a * {color:inherit;text-decoration:underline;}
sup {font-size:0.5em; vertical-align: 0.66em;}
sub {font-size:0.5em; vertical-align: -0.1em;}
.xr_tl {position: absolute; white-space: pre; unicode-bidi:bidi-override;}
.xr_tr {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:right;}
.xr_tc {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:center;}
.xr_tj {position: absolute; unicode-bidi:bidi-override; text-align:justify;}
.xr_tb {position: absolute; unicode-bidi:bidi-override;}
.xr_e1 {display: inline-block; border:none; white-space:normal;}
.xr_e2 {position: absolute; display: block; border:none;}
.xr_ap {position: absolute; border:none;}
.xr_ar {position: absolute; display:block;}
.xr_ae {position: relative; border:none;}
.xr_strb {z-index: 1;}
.xr_strb .mxs-arrow, .xr_strb .mxs-navigation {visibility: hidden;}
.xr_strf {z-index: 3;}
.xr_xrc, .xr_xri_, .xr_sxri, .xr_xpos {z-index: 2;}
.xr_ro, .xr_rd, .xr_rs {z-index: 3;}
.xr_tu {unicode-bidi:bidi-override;margin-top:0px;margin-bottom:0px;}

.xr_tt0 {transition: all 0s;}
.xr_tt1 {transition: all 0.1s; transition-timing-function: ease-in;}
.xr_tt2 {transition: all 0.25s; transition-timing-function: ease-in;}
.xr_tt3 {transition: all 0.5s; transition-timing-function: ease-in;}
.xr_tt4 {transition: all 1s; transition-timing-function: ease-in;}
.xr_tt5 {transition: all 2s; transition-timing-function: ease-in;}
a:hover .xr_ro, a:active .xr_rd, .xr_nb0:hover .xr_ro{visibility:visible;opacity: 1;transform: none;}

a:active .xr_ro {opacity:0;}
.xr_ro, .xr_rd {visibility:hidden;opacity:0;}
.xr_ro0, .xr_rd0, a:active .xr_ro0 {opacity:0;}
.xr_ro1, .xr_rd1, a:active .xr_ro1 {transform:translate3d(0,-20%,0);}
.xr_ro2, .xr_rd2, a:active .xr_ro2 {transform:translate3d(20%,0,0);}
.xr_ro3, .xr_rd3, a:active .xr_ro3 {transform-origin:top; transform:scale3d(1,0.3,1);}
.xr_ro4, .xr_rd4, a:active .xr_ro4 {transform-origin:left; transform:scale3d(0.3,1,1);}
.xr_ro5, .xr_rd5, a:active .xr_ro5 {transform:rotate3d(1,0,0,180deg); -ms-transform: rotateX(180deg);}
.xr_ro6, .xr_rd6, a:active .xr_ro6 {transform:rotate3d(0,1,0,180deg); -ms-transform: rotateY(180deg);}
.xr_ro7, .xr_rd7, a:active .xr_ro7 {transform:rotate3d(0,0,1,180deg);}
.xr_ro8, .xr_rd8, a:active .xr_ro8 {transform:scale3d(0.3,0.3,1);}
.xr_ro9, .xr_rd9, a:active .xr_ro9 {transform:skew(-30deg,0) translate3d(10%,0,0);}
.xr_ro10, .xr_rd10, a:active .xr_ro10 {transform-origin:50% 500%; transform:rotate3d(0,0,1,10deg);}
.xr_ro11, .xr_rd11, a:active .xr_ro11 {transform:translate3d(0,-50%,0) scale3d(0.3,0.3,1);}
.xr_ro12, .xr_rd12, a:active .xr_ro12 {transform:translate3d(0,20%,0);}
.xr_ro13, .xr_rd13, a:active .xr_ro13 {transform:translate3d(-20%,0,0);}
.xr_stickie {z-index: 90;}
.xr_nb0 {touch-action: none;}
.xr_nb0:hover > .xr_nb2, .xr_nb1:hover > .xr_nb2 {visibility: visible; opacity: 1 !important; transform: none !important;}
.xr_nb2 {white-space: nowrap; padding:0px; margin:0px; visibility: hidden; position: absolute; z-index:101;}
.xr_nb2 li {display:block;}
.xr_nb2 li a {display:block; text-decoration:none;}
.xr_nb4 {display:block; padding:0px; margin:0px;}
.xr_nb6 {width:100%; height:2px;}
.xr_nb1 {position: relative;}
.xr_nb1:after {content: ''; position: absolute; top: 50%; right: .5em; height: 0px; width: 0px; border: 5px solid transparent; margin-top: -5px; margin-right: -3px; border-color: transparent; border-left-color: inherit;}
body {text-align:center;}
@media screen, handheld {
.xr_app {position: absolute;}
.xr_apb {display:block; position:absolute;}
.xr_pnav {position:absolute; display:block; text-align:left; background-image:url('03.png'); background-attachment:scroll; top:8px; width:16px; height:16px;}
.xr_pnav:hover {background-image:url('04.png');}
.xr_pnavmenu {font-family:'Arial';font-size:12pt;color:#5d99d3;text-decoration:none;}
.xr_pnavmenu:link {color:#cccccc;}
.xr_pnavmenu:visited {color:#cccccc;}
.xr_pnavmenu:hover {color:#83b1e0;}
#xr_pnava {position: fixed; display: block; left: 0px; bottom: 0px; height: 24px; width: 120px; z-index:1100; background-image: url('0.gif');}
#xr_pnavh {position: fixed; display: block; left: 4px; bottom: -40px; height: 36px; width: 116px; background-color: #222222; border-radius: 8px; z-index:1200; visibility:hidden;transition: bottom 0.2s, visibility 0.2s;-moz-transition: bottom 0.2s, visibility 0.2s;-webkit-transition: bottom 0.2s, visibility 0.2s;-o-transition: bottom 0.2s, visibility 0.2s; box-shadow: 4px 4px 4px #000;opacity: 0.9;}
#xr_pnavm {position: fixed; display: block; left: 108px; bottom: 8px; overflow: auto; background-color: #222222; border-radius: 8px; padding: 16px; z-index:1100; visibility:hidden; opacity:0; transition: opacity 0.2s, visibility 0.2s;-moz-transition: opacity 0.2s, visibility 0.2s;-webkit-transition: opacity 0.2s, visibility 0.2s;-o-transition: opacity 0.2s, visibility 0.2s; box-shadow: 4px 4px 4px #000; white-space: nowrap;}
#xr_pnava:hover #xr_pnavh {visibility:visible; bottom:4px;}
#xr_pnavm:hover {visibility:visible;}
#xr_pnavm:hover #xr_pnavp {visibility:visible;}
#xr_pnavp:hover #xr_pnavm {visibility:visible; opacity:0.9;}
#xr_palrt {position: fixed; display: block; left: 4px; bottom: -300px; width: 250px; color: white; padding: 4px; background-color: #222222; border-radius: 8px; z-index:100; visibility:hidden; transition: bottom 0.5s, visibility 0.5s;-moz-transition: bottom 0.5s, visibility 0.5s;-webkit-transition: bottom 0.5s, visibility 0.5s;-o-transition: bottom 0.5s, visibility 0.5s; box-shadow: 4px 4px 4px #000;opacity: 0.9;}
.xr_c_Website_Backdrop {color:#CCCCCC;}
.xr_c_Page_Background {color:#FFFFFF;}
.xr_c_Text {color:#444444;}
.xr_c_Contrasting_Text {color:#FFFFFF;}
.xr_c_Theme_Color_1 {color:#1FAB89;}
.xr_c_T1_Darker {color:#116651;}
.xr_c_T1_Dark {color:#18856B;}
.xr_c_T1_Light {color:#3BE0B8;}
.xr_c_T1_Lighter {color:#9FF3DF;}
.xr_c_Theme_Color_2 {color:#62D2A2;}
.xr_c_T2_Dark {color:#4DAA82;}
.xr_c_T2_Light {color:#80EEBF;}
.xr_c_T2_Lighter {color:#BDF5DD;}
.xr_bgb0 {background-color: #CCCCCC;}
.xr_page0 {top:0px; width:1280px;}
.xr_bgb1 {background-color: #CCCCCC;}
.xr_page1 {top:0px; width:1280px;}
.xr_bgb2 {background-color: #CCCCCC;}
.xr_page2 {top:0px; width:1280px;}
.xr_bgb3 {background-color: #CCCCCC;}
.xr_page3 {top:0px; width:1280px;}
.xr_bgb4 {background-color: #CCCCCC;}
.xr_page4 {top:0px; width:1280px;}
.xr_bgb5 {background-color: #CCCCCC;}
.xr_page5 {top:0px; width:1280px;}
.xr_bgb6 {background-color: #CCCCCC;}
.xr_page6 {top:0px; width:1280px;}
.xr_bgb7 {background-color: #CCCCCC;}
.xr_page7 {top:0px; width:1280px;}
.xr_bgb8 {background-color: #CCCCCC;}
.xr_page8 {top:0px; width:1280px;}
.xr_bgb9 {background-color: #CCCCCC;}
.xr_page9 {top:0px; width:1280px;}
.xr_bgb10 {background-color: #CCCCCC;}
.xr_page10 {top:0px; width:1280px;}
.xr_bgb11 {background-color: #CCCCCC;}
.xr_page11 {top:0px; width:1280px;}
.xr_bgb12 {background-color: #CCCCCC;}
.xr_page12 {top:0px; width:1280px;}
.xr_bgb13 {background-color: #CCCCCC;}
.xr_page13 {top:0px; width:1280px;}
.xr_bgb14 {background-color: #CCCCCC;}
.xr_page14 {top:0px; width:1280px;}
.xr_bgb15 {background-color: #CCCCCC;}
.xr_page15 {top:0px; width:1280px;}
}
@media print {
 #xr_xrii{overflow:visible !important; position: relative !important;}
}
