/* Text styles */
.xr_s0 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:16.92pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#FFFFFF;background-color:Transparent;letter-spacing:0em;}
.xr_s1 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:16pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#FFFFFF;background-color:Transparent;letter-spacing:0em;}
.xr_s2 {font-size:16pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;background-color:Transparent;letter-spacing:0em;}
.xr_s3 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:70pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#FFFFFF;background-color:Transparent;letter-spacing:0em;}
.xr_s4 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:27pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;background-color:Transparent;letter-spacing:0em;}
.xr_s5 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:27pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#FFFFFF;background-color:Transparent;letter-spacing:0em;}
.xr_s6 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:38pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s7 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:11.85pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#FFFFFF;background-color:Transparent;letter-spacing:0em;}
.xr_s8 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:16pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s9 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:16.22pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s10 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:8.5pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s11 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:30pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s12 {font-family:'Archivo Narrow';font-weight:normal;font-style:normal;font-size:29.03pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s13 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:27pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s14 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:21pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s15 {font-family:'Verdana_xr';font-weight:normal;font-style:normal;font-size:21pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s16 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:15.9pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s17 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:8.33pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s18 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:16pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s19 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:19pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s20 {font-family:'Roboto';font-weight:normal;font-style:italic;font-size:17pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s21 {font-size:15pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s22 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:15pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s23 {font-family:'Verdana_xr';font-weight:normal;font-style:normal;font-size:15pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
.xr_s24 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:16.56pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#444444;background-color:Transparent;letter-spacing:0em;}
